html {
	background-color: hsl(204, 43%, 93%);
	box-sizing: border-box;
	font-family: 'Karla', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

body {
	padding: 20px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

p {
	font-weight: 200;
	line-height: 0.75em;
	word-spacing: 6px;
}

.main-container {
	border-radius: 10px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	overflow: hidden;
	word-spacing: 7px;
}

.top-section {
	background-color: white;
	padding: 30px;
}

.top-section h2 {
	color: hsl(179, 62%, 43%)
}

.top-section h3 {
	color: hsl(71, 73%, 54%)
}

.main-text {
	color: hsl(218, 22%, 67%);
	font-size: 0.95em;
	line-height: 1.5em;
	margin-top: -5px;
}

.bottom-section {
	display: flex;
	flex-direction: column;
}

.bottom-left-container,
.bottom-right-container {
	color: hsl(204, 43%, 93%);
	font-size: 0.9em;
	flex-basis: 50%;
	padding: 30px;
}

.bottom-left-container {
	background-color: hsl(179, 62%, 43%);
}

.bottom-right-container {
	background-color: hsl(179, 62%, 43%, 0.75);
}

.sign-up-btn {
	background-color: hsl(71, 73%, 54%);
	border-radius: 5px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border: none;
	color: hsl(204, 43%, 93%);
	padding: 10px;
	width: 100%;
	font-weight: 700;
}

button:hover {
	background-color: hsl(71, 73%, 54%, 0.9);
	cursor: pointer;
	transform: scale(1.02);
}

.price-container {
	display: flex;
	align-items: center;
}

.amount {
	font-size: 2.25em;
	font-weight: bold;
}

.per-month {
	font-weight: lighter;
	opacity: 0.8;
	margin-left: 10px;
}

footer {
	font-size: 0.65em;
	padding: 1%;
	text-align: center;
}

@media (min-width: 750px) {

	.main-container {
		height: 100%;
		width: 35%;
		margin: 2% 32%;
	}

	.bottom-section {
		flex-direction: row;
		height: 100%;
	}

	.bottom-left-container,
	.bottom-right-container {
		width: 55%;
	}

}