html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: .25px
}

body {
  margin: 0;
  color: #0d1f22;
  overflow-y: scroll;
  scroll-snap-type: y mandatory
}

*,
:after,
:before {
  box-sizing: inherit
}

#intro,
#projects {
  width: 100%;
  height: 100vh
}

#intro,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center
}

#intro {
  background-color: #dde1dc;
  flex-direction: column
}

footer {
  background: #dde1dc;
  font-size: .85em;
  height: 10vh;
  width: 100%
}

#avatar {
  width: 200px;
  height: 200px
}

.intro-text span {
  display: block;
  font-size: 1.5rem;
  margin: 1.5rem auto
}

#name {
  font-size: 3em;
  font-weight: 600;
  margin: -10px 0 0
}

.header {
  font-size: 1.5rem;
  margin: 30px auto 20px;
  border-bottom: 5px solid #889683;
  display: inline-block
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 0 0
}

.project-link {
  line-height: 1.5em;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #0d1f22
}

.project-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d9d9d9;
  transform-origin: bottom right;
  transition: transform .4s cubic-bezier(.86, 0, .07, 1)
}

.project-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left
}

@media (min-width:900px) {
  .container {
    display: flex;
    justify-content: flex-start
  }

  #intro {
    flex: 40%
  }

  #projects {
    flex: 60%
  }

  footer {
    float: left;
    width: 40%
  }
}